# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Data & model artifacts
data/
features.npy
labels.npy
model.joblib
scaler.joblib
metrics.json
hparam_results.json
evaluation/

# IDE
.idea/
.vscode/
*.swp

# Testing
.coverage
coverage.xml
.pytest_cache/

# OS
.DS_Store
Thumbs.db
UK/
USA/
raw_data/
deepfake_audio_dataset_jay15k/
audio-deepfake-detection-dataset.zip
deepfake-audio-dataset-fake-vs-real-speech.zip
real-vs-fake-human-voice-deepfake-audio.zip
dataset_voice_changing_metainfo.xlsx
